div.description {
    border-style: dashed;
    border-width: 1px;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #f0f8ff;
}

div#commandbar {
    padding: 15px 0px;
}

div#result, div#sub_result, div#place_list {
    padding:20px 0px;
    border-style: dashed;
    border-width: 1px;
    background-color: #fffff0;
    margin: 10px 0px;
}

.btn {
    border-style: outset;
    border-width: 2px;
    padding: 5px;
    margin-right: 5px;
    background-color: #dcdcdc;
    cursor: pointer;
}

.parent {
    width: 8em;
}

div.place {
    line-height: 2em;
}

div.place span {
    display: inline-block;
}

span.pk {
    width: 3em;
}

span.title {
    width: 10em;
}

span.parent {
    width: 10em;
}