{% extends 'baseinfo_base.html' %}

{% block title %}基础信息管理：地点 - Yeekaa{% endblock %}

{% block content %}
    <p>
        <a class="btn" href="">字母列表</a>
        <a class="btn" href="">地区列表</a>
    </p>

    <div id="new_place" class="alert alert-block">
        <form id='place_form' method="post" action="/baseinfo/place/">
            <label for="id_level">地点类型:</label>{{ form.level }}&nbsp;
            <select id="continent" level="1" class="parent">请选择</select>&nbsp;
            <select id="country" level="2" class="parent">请选择</select>&nbsp;
            <select id="district" level="3" class="parent">请选择</select>&nbsp;
            <select id="province" level="4" class="parent">请选择</select>&nbsp;
            <select id="city" level="5" class="parent">请选择</select>&nbsp;
            <select id="zone" level="6" class="parent">请选择</select>&nbsp;
            <select id="circle" level="7" class="parent">请选择</select>&nbsp;
            {{ form.parent }}
            <label for="id_title">名称：</label>{{ form.title }}&nbsp;
            <input type="submit" value="新增" class="btn-primary">
        </form>
    </div>

    <div class="alert alert-success" id="result">

    </div>

    <div>
        <ul class="breadcrumb">
            <li></li>
        </ul>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr><th>#</th><th>称谓</th><th>所属地点</th><th>所属层级</th></tr>
        </thead>
        <tbody>
        {% for p in places %}
            <tr {% if p.parent.id == 21 %}class="info" {% endif %}>
                <td>{{ p.id }}</td>
                <td>{{ p.title }}</td>
                <td>{{ p.parent.title }}</td>
                <td>{{ p.level }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}