<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/static/js/lib/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block main_title %}
        <h2>hello yeekaa</h2>
    {% endblock %}
    <hr />

    <img src="/static/img/11.png" />

    {% block main_menu %}
        <a href="/">主页</a>&nbsp;|&nbsp;
        <a href="/coupon/">优惠券</a>&nbsp;|&nbsp;
        <a href="/dsource/">信息源管理</a>&nbsp;|&nbsp;
        <a href="/baseinfo/">基础信息管理</a>
        <br />
        {% block secondery_menu %}
            <p>暂无二级菜单</p>
        {% endblock %}
    {% endblock %}
    <hr />

    {% block content %}
    {% endblock %}

    {% block footer %}
        <br />
        <hr />
        <p>welcome to yeekaa.com</p>
    {% endblock %}
</body>
</html>